@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,700);
@import url(https://fonts.googleapis.com/css?family=Crimson+Pro:200);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,100,200,600,500);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #181719;
  color: white;
  margin: 0;
  padding: 0;
  padding-inline: 15px;
  height: 100%;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: blue; */
}

.navbar {
  display: none;
}

.navbar.open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  background-color: #181719;
  /* background-color: rebeccapurple; */
  z-index: 10;
  inset: 0;
}

.navbar ol li {
  padding-bottom: 25px;
}

ol {
  list-style-type: none;
  font-family: "Poppins";
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 0;
  font-family: "Poppins";
}

li:first-child {
  text-decoration: underline;
  text-underline-offset: 12px;
}

.logo {
  font-family: "Crimson Pro", system-ui;
  font-size: 1rem;
  border: 1px solid white;
  padding-inline: 6px;
  padding-block: 10px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 24;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  cursor: pointer;
  outline: none;
  color: white;
}

h1 {
  font-size: 2.25rem;
  font-family: "Lora", system-ui;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 500;
}

.more {
  display: flex;
  align-items: center;
  padding-top: 30px;
  column-gap: 8px;
  padding-bottom: 30px;
}

.more p {
  font-weight: 500;
}

p {
  margin: 0;
  font-family: "Poppins";
  letter-spacing: 0.5px;
  max-width: 265px;
  font-weight: 200;
}

.image-container {
  position: relative;
}

.room-photo {
  max-width: 100%;
  height: auto;
}

.info {
  position: absolute;
  background-color: #181719;
  bottom: -17%;
  right: 5%;
  padding: 15px;
  max-width: 80%;
  box-shadow: 0px 4px 5px 4px rgba(0, 0, 0, 0.25);
}

.info-header {
  display: flex;
  align-items: center;
  column-gap: 15px;
  padding-bottom: 10px;
}

.snapshot {
  border-radius: 50%;
  height: auto;
  width: 20%;
}

.name {
  font-weight: 400;
  font-size: 0.8rem;
}

.role {
  font-weight: 200;
  color: #828282;
  font-size: 0.6rem;
}

.info-text {
  font-family: "Lora";
  font-weight: 700;
}

footer {
  width: 100%;
  text-align: center;
  font-family: "Poppins";
  color: #a9a9a9;
  font-size: 0.8rem;
  padding-top: 100px;
  padding-bottom: 15px;
}

footer span {
  text-decoration: underline;
  font-weight: 600;
}

@media (640px<width) {
  body {
    padding-inline: 55px;
  }

  button {
    display: none;
  }

  .wrapper > * {
    /* outline: 5px solid black; */
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-container {
    flex: 1;
  }

  .image-container {
    flex: 1;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 25px;
  }

  /* ol {
    list-style-type: none;
    font-family: "Poppins";
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 0;
    font-family: "Poppins";
  } */

  .navbar {
    display: initial;
    /* padding-top: 20px; */
    /* padding-bottom: 9px; */
  }

  .navbar ol li {
    display: inline;
    padding-left: 75px;
  }

  li:last-child {
    padding-right: 10px;
  }
}

@media (width>1200px) {
  .wrapper {
    max-width: 1000px;
    margin-inline: auto;
  }
}
