@import url(https://fonts.googleapis.com/css?family=Poppins:500);

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #181719;
  height: 100%;
}

ol {
  list-style-type: none;
  font-family: "Poppins";
  color: white;
  text-align: center;
  font-size: 25px;
  padding: 0;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 105px;
}

li {
  padding-bottom: 25px;
}

li:first-child {
  text-decoration: underline;
  text-underline-offset: 12px;
}
